.container-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* border: 2px dashed white; */
  width: 400px;
  margin: auto;
}

.box {
  color: aliceblue;
  padding: 25px;
  border: 1px solid white;
  text-align: center;
  cursor: pointer;
  font-size: 30px;
}

/* Animation */
.animated-box {
  margin: auto;
  border-radius: 11px 0;
  color: rgb(255, 217, 0);
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  padding: 51px;
  width: 201px;
  -webkit-animation: fontbulger 2s infinite;
  -moz-animation: fontbulger 2s infinite;
  -o-animation: fontbulger 2s infinite;
  animation: fontbulger 2s infinite;
}

@-webkit-keyframes fontbulger {
  0%,
  100% {
    font-size: 20px;
  }

  50% {
    font-size: 30px;
  }
}

@-moz-keyframes fontbulger {
  0%,
  100% {
    font-size: 20px;
  }

  50% {
    font-size: 30px;
  }
}

@-o-keyframes fontbulger {
  0%,
  100% {
    font-size: 20px;
  }

  50% {
    font-size: 30px;
  }
}

@keyframes fontbulger {
  0%,
  100% {
    font-size: 20px;
  }

  50% {
    font-size: 30px;
  }
}
